.bg-img-add-article{
  background-image: url(../../img/dist/source/bg-add-article2.png);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 80.14px;
}