//SCSS page article

.bg-color-page-article{
  background-color: $bg-general;
}

.bg-img-page-article{
  background-image: url(../../img/dist/source/bg-img-article.png);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.content-title-page-article{
  background-color: $green-o;
  margin-top: 5%;
}

.title-page-article{
  color: $black;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0px;
  font-size: 65px;
  letter-spacing: 1px;
  font-family: robot-cond;
  text-shadow: 5px 1px 6px rgba(0,0,0,0.38);
}

.spacing-content-title-article{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.content-title-article{
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 5%;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
 }

.title-article{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
  font-family: robot-cond;
}

.content-articles{
margin-bottom: 50px;

}

.flex-content-img-article{
  display: flex;

  justify-content: center;
}

.content-img-article{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px;
  margin-bottom: 200px;
  background-color: rgba(213, 183, 183, 0.25);

}

.content-pseudo-creat-article{
  padding-right: 26%;
  padding-bottom: 10px;
  color: $black;
}

.pseudo-created-by{
font-family: robot-cond-b;
}
.pseudo-created-by-span{
font-family: robot-cond;
  color: $brown;
}

.creation-date-article{
  font-family: robot-cond-b;

}
.creation-date-article-span{
  font-family: robot-cond;
  color: $brown;
}

.img-article-current{
  width: 38%;
  border-radius: 3px;

}
.preview-content-and-article-content{
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
}

.content-intergal-article{
  width: 70%;
}

.content-title-article-2{
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  margin-bottom: 20px;

}
.title-article-2{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
  font-family: robot-cond;
}

.content-text-article{
  width: 73%;
  margin-left: 2%;
}

.text-content-article{


  text-align: start;
  font-family: robslab-r;
  line-height: 25px;
  font-size: 16px;
  border-bottom: 2px solid $black;
  padding-bottom: 15px;


}

.text-content-article-2{
  width: 40%;
  margin-left: 2%;
  font-size: 16px;
  font-family: robslab-r;

}

.content-prewiew-article-x3{
  width: 20%;
  margin-top: -2%;
  //background-color: rgba(76, 176, 79, 0.11);
  padding-left: 44px;
background-color: $green-o;
  border-radius: 10px;
  padding-top: 50px;
}

.text-preview{
  font-family: robot-cond;
  font-size: 27px;
  margin-bottom: 17px;

}

.content-article-previews{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;


}

.content-title-preview-article{
  margin-bottom: 3px;
}

.link-preview-article{
font-family: robslab-r;
  font-size: 18px;
  letter-spacing: .5px;

}

.img-preview-article{
width: 81%;
}

.content-border-bottom{
  position: absolute;
}

.border-bottom{
  position: relative;
  border-bottom: 1px solid $black;
  transform: translate(13%,15%);
  top: 15px;
  left: 0;
  width: 80%;
}

.content-button-article{
  display: flex;
  justify-content: space-around;
}

.button-update-article{
  padding: 15px 35px;
  font-size: 17px;
  border-radius: 30px;
  color: $black;
  transition-duration: .4s;
  text-transform: uppercase;
  background-color: $green;
  margin-left: 10px;
}

.button-update-article:hover{
  background-color: $red;
  text-decoration: none;
  color: $white;
}

.button-delete_article{
  padding: 15px 35px;
  font-size: 17px;
  border-radius: 30px;
  color: $white;
  transition-duration: .4s;
  text-transform: uppercase;
  background-color: $red;
  cursor: pointer;
}

.button-delete_article:hover{
  background-color: $green;
  text-decoration: none;
  color: $black;
}
