                                                                            //SCSS page article

.bg-color-page-article{
  background-color: $bg-general;
}

.bg-img-page-article{
  background-image: url(../../img/dist/source/bg-img-article.png);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 4%;
}

#connect_user_failure{
  background-color: $green;
  color: red;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 150;
  margin-top: .5%;
}

#delete_comment_success{
  background-color: $green;
  color: green;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 150;
  margin-top: .5%;
}

.content-title-page-article{
  background-color: $green-o;
  margin-top: 5%;
}

.title-page-article{
  color: $black;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0px;
  font-size: 60px;
  letter-spacing: 1px;
  font-family: robot-cond;
  text-shadow: 5px 1px 6px rgba(0,0,0,0.38);
}

.spacing-content-title-article{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.content-title-article{
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 5%;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
 }

.title-article{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
  font-family: robot-cond;
}

.content-articles{
margin-bottom: 50px;
}

.flex-content-img-article{
  display: flex;

  justify-content: center;
}

.content-img-article{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px;
  margin-bottom: 200px;
  background-color: rgba(213, 183, 183, 0.25);
}

.content-pseudo-creat-article{
  margin-left: 35px;
  padding-right: 26%;
  padding-bottom: 10px;
  color: $black;
}

.pseudo-created-by{
  font-family: robot-cond-b;
}

.pseudo-created-by-span{
  font-family: robot-cond;
  color: $brown;
}

.creation-date-article{
  font-family: robot-cond-b;
}

.creation-date-article-span{
  font-family: robot-cond;
  color: $brown;
}

.img-article-current{
  width: 38%;
  border-radius: 3px;
}

.preview-content-and-article-content{
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
}

.content-intergal-article{
  width: 70%;
}

.content-title-article-2{
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  margin-bottom: 20px;
}

.title-article-2{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
  font-family: robot-cond;
}

.content-text-article{
  width: 73%;
  margin-left: 2%;
}

.text-content-article{
  text-align: start;
  font-family: robslab-r;
  line-height: 25px;
  font-size: 16px;
  border-bottom: 2px solid $black;
  padding-bottom: 15px;
}

.text-content-article-2{
  width: 40%;
  margin-left: 2%;
  font-size: 16px;
  font-family: robslab-r;
}

.content-prewiew-article-x3{
  width: 20%;
  margin-top: -2%;
  padding-left: 44px;
  background-color: $green-o;
  border-radius: 10px;
  padding-top: 50px;
}

.text-preview{
  font-family: robot-cond;
  font-size: 27px;
  margin-bottom: 17px;
}

.content-article-previews{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.content-title-preview-article{
  margin-bottom: 3px;
}

.link-preview-article{
  font-family: robslab-r;
  font-size: 18px;
  letter-spacing: .5px;
}

.img-preview-article{
width: 81%;
}

.content-border-bottom{
  position: absolute;
}

.border-bottom{
  position: relative;
  border-bottom: 1px solid $black;
  transform: translate(13%,15%);
  top: 15px;
  left: 0;
  width: 80%;
}

.content-button-article{
  display: flex;
  justify-content: space-around;
}

.button-update-article{
  padding: 15px 35px;
  font-size: 17px;
  border-radius: 30px;
  color: $black;
  transition-duration: .4s;
  text-transform: uppercase;
  background-color: $green;
  margin-left: 10px;
  font-family: robot-cond;
}

.button-update-article:hover{
  background-color: $red;
  text-decoration: none;
  color: $white;
}

.button-delete_article{
  padding: 15px 35px;
  font-size: 17px;
  border-radius: 30px;
  color: $white;
  transition-duration: .4s;
  text-transform: uppercase;
  background-color: $red;
  cursor: pointer;
  font-family: robot-cond;
}

.button-delete_article:hover{
  background-color: $green;
  text-decoration: none;
  color: $black;
}

.spacing-content-title-comments{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.content-title-comments{
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 5%;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
}

.title-comments{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
  font-family: robot-cond;
}

.content-button-add-comment{
  display: flex;
  justify-content: end;
  margin-right: 10%;
  margin-bottom: 3%;
}
.button-add-comment{
  margin-right: 15%;
  font-family: robot-cond;
  font-size: 25px;
  color: $black;
  text-shadow: 1px 0px 1px rgba(0,0,0,0.50);
}

.flex-comments{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-add-comment:hover{
  color: $black!important;
}

.content-info-comment{
  display: flex;
  margin-bottom: 50px;
}

.content-img-profil-comment{
  overflow: hidden;
  width: 75px;
  height: 75px;
}

.img-content-profil-user-comment{
  width: 150px;
}

.info-content-comment{
  margin-left: 25px;
}

.content-info-comment-and-button-action{
  display: flex;
  justify-content: space-between;
}

.comment-posted-by{
  font-family: robot-cond-b;
  .span-comment-posted-by{
    font-family: robot-cond;
    color: $brown;
  }
}

.comment-published-on{
  font-family: robot-cond-b;
  .span-comment-published-on{
    font-family: robot-cond;
    color: $brown;
  }
}

.button-update-comment{
  margin-right: 25px;
  font-size: 25px;
}

.delete_comment{
  font-size: 25px;
}

.comment_action{
  padding-right: 36px;
}

.content-comment-article{
  width: 1000px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid $black;
 }

.comment-in-html{
  font-family: robot-cond-b;
}

.span-comment-in-html{
  font-family: robot-cond;
}



//Media Query page article



@media screen and (max-width: 1416px){

  .content-pseudo-creat-article{
    padding-right: 22%;
  }

  .content-prewiew-article-x3{
    height: 644px;
  }

  .button-add-comment{
    margin-right: 7%;
  }
}

@media screen and (max-width: 1356px){

  .content-pseudo-creat-article{
    padding-right: 21%;
  }

  .link-preview-article{
    font-size: 16px;
  }
}

@media screen and (max-width: 1302px){

  .title-page-article{
    font-size: 50px;
  }

  .content-title-article{
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
  }

  .title-article{
   font-size: 35px;
  }

  .content-pseudo-creat-article{
    padding-right: 20%;
  }

  .content-prewiew-article-x3{
    height: 588px;
  }

  .content-title-comments{
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
  }

  .title-comments{
    font-size: 35px;
  }

}

@media screen and (max-width: 1168px){

  .title-page-article{
    font-size: 57px;
  }

  .title-article{
    font-size: 33px;
  }

  .content-pseudo-creat-article{
    padding-right: 18%;
  }

  .title-article-2{
    font-size: 33px;
    padding: 21px;
  }

  .content-text-article{
    margin-left: 4%;
  }

  .content-prewiew-article-x3{
    padding-right: 15px;
  }

  .img-preview-article{
    width: 92%;
  }

  .title-comments{
    font-size: 33px;
  }

  .content-comment-article{
    width: 800px;
  }
}

@media screen and (max-width: 991px){

  .bg-img-page-article{
    margin-top: 6%;
  }

  .title-page-article{
    font-size: 52px;
    padding: 30px 0;
  }

  .title-article{
    font-size: 30px;
  }

  .content-pseudo-creat-article{
    padding-right: 19%;
  }

  .img-article-current{
    width: 44%;
  }

  .title-article-2{
    font-size: 30px;
  }

  .content-prewiew-article-x3{
    height: 632px;
    width: 24%;
    padding-right: 15px;
    padding-left: 20px;
  }

  .img-preview-article{
    width: 100%;
  }

  .content-button-article{
    margin: 75px 0;

  }

  .title-comments{
    font-size: 30px;
  }

  .button-add-comment{
    margin-right: 11%;
    font-size: 21px;
  }

  .content-comment-article{
    width: 600px;
  }
}

@media screen and (max-width: 767px){

  .bg-img-page-article{
    min-height: calc(42vh - 92px);
    margin-top: 10%;
  }

  .title-page-article{
    font-size: 45px;
  }

  .title-article{
    padding: 20px;
    font-size: 28px;
  }

  .content-pseudo-creat-article{
    padding-right: 30%;
  }

  .img-article-current{
    width: 64%;
  }

  .title-article-2{
    font-size: 20px;
  }

  .content-img-article{
    margin-bottom: 75px;
  }

  .content-intergal-article{
    width: 100%;
  }

  .content-text-article{
    width: 80%;
    margin: 0 10%;
  }

  .text-content-article{
   text-align: justify;
  }

  .content-prewiew-article-x3{
   display: none;
  }

  .title-comments{
    font-size: 28px;
  }

  .content-info-comment{
    flex-direction: column;
    margin-top: 25px;
  }

  .content-img-profil-comment{
  margin-left: 45%;
  }

  .content-comment-article{
   margin-top: 10px;
  }
}

@media screen and (max-width: 576px){

  .bg-img-page-article{
    min-height: calc(33vh - 92px);
  }

  .title-page-article{
    font-size: 40px;
  }

  .title-article{
    font-size: 24px;
  }

  .content-pseudo-creat-article{
    padding-right: 25%;
  }

  .img-article-current{
    width: 71%;
  }

  .title-article-2{
    font-size: 24px;
  }

  .title-comments{
    font-size: 24px;
  }

  .button-update-comment{
    font-size: 25px;
  }

  .delete_comment{
    font-size: 25px;
  }

  .content-comment-article{
    width: 500px;
  }
}

@media screen and (max-width: 486px){

  .bg-img-page-article{
    min-height: calc(30vh - 92px);
    margin-top: 10%;
  }

  .title-page-article{
    font-size: 35px;
  }

  .title-article{
    font-size: 22px;
  }

  .content-pseudo-creat-article{
    padding-right: 17%;
  }

  .title-article-2{
    font-size: 22px;
  }

  .content-button-article{
    flex-direction: column;
    align-items: center;
  }

  .content-button-update-article{
    margin-bottom: 50px;
  }

  .button-add-comment{
    margin-top: 30px;
    margin-right: 2%;
  }

  .button-update-article, .button-delete_article{
    padding: 12px 21px;
    font-size: 16px;
  }

  .button-delete_user{
    padding: 8px 21px;
    font-size: 16px;
  }

  .title-comments{
    font-size: 22px;
  }

  .comment_action {
    padding-right: 0;
  }

  .content-comment-article{
    width: 400px;
  }
  .content-img-profil-comment{
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 320px){

  .popupDeleteArticle{
    left: -120%;
  }

  .bg-img-page-article {
    min-height: calc(25vh - 94px);
    margin-top: 22%;
  }

  .title-page-article {
    font-size: 30px;
    padding: 24px 0;
  }

  .title-article {
    font-size: 17px;
  }

  .title-article-2 {
    font-size: 17px;
  }

  .content-img-profil-comment {
    margin-left: 36%;
  }

  .content-comment-article {
    width: 264px;
  }

  .info-content-comment {
    margin-left: 3px;
  }

  .content-info-comment-and-button-action{
    flex-direction: column;
  }

  .comment_action{
    margin: 15px 0;
  }

  .delete_comment{
    margin-left: 186px;
  }
}
