//Blog SCSS

.modal_delete_article{
  right: -800px;
  position: fixed;
  margin: 0 auto;
  top:500px;
  width: 50%;
  z-index: 99999999999;
}

.content-bgi-blog{
  background-image: url(../../img/dist/source/bg_blog.png);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.content-title-blog{

  background-color: $green-o;
  margin: 5% 0;
}

.title-blog{
  padding: 40px 0;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  letter-spacing: 1px;
  font-family: robot-cond;
  text-shadow: 5px 1px 6px rgba(0,0,0,0.38);
}

.create_article_success{
  background-color: #c6c198;
  color: green;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 150;
  margin-top: .5%;
  top: 10.5%;
}


.content-content-article-blog{
  display: flex;
  justify-content: center;
}

.content-article-blog{
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 5%;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
}

.article-title{

  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
  font-family: robot-cond;


}

//css articles

.content2-preview-article-blog{
  margin-left: 10%;
  margin-right: 10%;
  background-color: $green-o;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 3%;


}

.content2-preview-article-blog:nth-child(2n){
  background-color: $red;
}


.preview-article-blog{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 4px;


}

.content-preview-img-blog{
  width: 30%;
  margin-right: -5%;
}

.preview-img-article-blog{
  width: 70%;
  margin-left: 50px;
  border-radius: 4px;
}

.content-preview-article{
  width: 34%;
}

.content-article-action{
  width: 30%;
}

.title-preview-article{
  font-family: robot-cond;
  text-transform: uppercase;
  color: $black;
  font-size: 20px;
  padding-bottom: 7px;
}

.title-preview-article:hover{
  text-decoration: underline;
  color: $brown;
}

.content-post-pseudo-preview{
  font-family: robot-cond;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 50px;


}

.content-pseudo-article-preview{
  font-family: robot-cond;
  color: $brown;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 14px;
}

.content-post-preview-article{
  font-family: robot-cond;
  font-size: 17px;
  text-transform: uppercase;
  padding-bottom: 25px;

}

.content-prewiew-article{
  font-family: robslab-r;
  font-size: 16px;
  color: $black;
  text-transform: lowercase;
}

.content-prewiew-article:hover{
  text-decoration: underline;
  color: $brown;
}

.content-post-time-preview{
  font-family: robot-cond;
  font-size: 17px;
  text-transform: uppercase;


}

.content-time-preview{
  font-family: robslab-r;
  font-size: 16px;
  color: $black;
  text-transform: lowercase;

}

.content-article-action{


}

.delete_article{

}

.content-button-acces-article{
  margin-left: 55%;
  margin-top: 50%;
  width: 200px;
}

.content-button-acces-article:hover{

}
.button-prewiew-acces-blog{
  font-size: 18px;
  background-color: brown;
  color: $white;
  padding: 6px 10px;
  border-radius: 12px;
  font-family: robot-cond;
}

.button-prewiew-acces-blog:hover{
  text-decoration: underline;
  color: $brown;

}

.navigation {
  @include flex(center, center);
  li {
    padding: 5px 10px;
    a {
      text-decoration: none;
    }
  }
  .futur_page {
    font-weight: 700;
  }
  .active {
    color: #fff;
    background-color: $red;
    border-radius: 5px;
    cursor: default;
  }
  .disabled {
    cursor: not-allowed;
    opacity: 20%;
  }
  padding: 2% 0;
}
transform-border{
  position: absolute;


}
.beefore{
  position: relative;
  border-bottom: 1px solid rgba(91, 91, 91, 0.65);
  transform: translate(13%,15%);
  top: 15px;
  left: 0;
  width: 80%;

}

//media query blog
@media screen and (max-width: 1416px) {
  .create_article_success{
    top: 8.5%;
  }
  .title-blog{
    font-size: 55px;
  }
  .content-article-action{
    width: 35%;
  }
}
@media screen and (max-width: 1356px) {
  .create_article_success{
    top: 12.5%;
  }
  .title-blog{
    font-size: 50px;
  }
  .content-preview-article {
    width: 30%;
  }
}

@media screen and (max-width: 1302px) {
  .create_article_success{
    top: 11.2%;
  }
  .content-bgi-blog{
    min-height: calc(37vh - 92px);
  }
  .title-blog{
    font-size: 45px;
  }
  .content-article-blog{
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
  }
  .article-title{
    font-size: 35px;
  }
  .preview-img-article-blog{
    width: 74%;
    margin-left: 28px;
  }
}

@media screen and (max-width: 1168px) {
  .create_article_success{
    top: 10.0%;
  }
  .title-blog{
    font-size: 40px;
  }
  .content-preview-article {
    width: 37%;
    margin-left: 63px;
  }
  .content-article-action {
    width: 41%;
  }
  .preview-img-article-blog {
    width: 90%;
  }
}

@media screen and (max-width: 991px) {
  .create_article_success{
    top: 11.0%;
  }

  .content-bgi-blog{
    min-height: calc(32vh - 92px);
    margin-top: 9%;
  }
  .title-blog{
    font-size: 35px;
  }
  .article-title{
    font-size: 30px;
  }
  .preview-article-blog{
    flex-direction: column;
  }
  .content-preview-img-blog{
    width: 80%;
    margin-right: -12%;
  }
  .preview-img-article-blog{
    width: 79%;
    margin-left: 9px;
  }
  .content-preview-article{
   width: 72%;
    margin-top: 10px;
  }
  .content-button-acces-article{
    margin-left: 115%;
  }

}

@media screen and (max-width: 767px){
  .content-bgi-blog {
    min-height: calc(28vh - 92px);
    margin-top: 12%;
  }
  .title-blog{
    font-size: 30px;
  }
  .article-title{
    font-size: 27px;
  }
  .content-button-acces-article{
    margin-left: 108%;
  }

}

@media screen and (max-width: 576px) {
  .create_article_success{
    top: 8.2%;
  }
  .content-bgi-blog {
    min-height: calc(23vh - 92px);
  }
  .title-blog{
    font-size: 21px;
  }
  .content-article-blog{
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }
  .article-title{
    font-size: 25px;
  }
  .content2-preview-article-blog{
    margin-top: 24px;
  }
  .content-preview-article{
    width: 79%;
  }
  .content-button-acces-article{
    margin-left: 92%;
  }


}

@media screen and (max-width: 486px) {
  .create_article_success{
    top: 8.2%;
  }
  .title-blog {
    font-size: 23px;
  }
  .article-title{
    font-size: 24px;
  }
  .content-button-acces-article{
    margin-left: 82%;
  }
  .content-preview-article{
    width: 81%;
  }
  .button-prewiew-acces-blog{
    font-size: 16px;
  }
}