//Blog CSS

.content-bgi-blog{
  background-image: url(../../img/dist/source/bg_blog.png);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.content-title-blog{

  background-color: $green-o;
  margin: 5% 0;
}

.title-blog{
  padding: 40px 0;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  letter-spacing: 1px;
  font-family: robot-cond;
  text-shadow: 5px 1px 6px rgba(0,0,0,0.38);
}

.content-content-article-blog{
  display: flex;
  justify-content: center;
}

.content-article-blog{
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 5%;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
}

.article-title{

  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
  font-family: robot-cond;


}

//css articles


//.content2-preview-article-blog{
//  display: flex;
//  justify-content: center;
//}
.content2-preview-article-blog{
margin-left: 10%;
  margin-right: 10%;
  background-color: $green-o;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 1%;

}

.content2-preview-article-blog:nth-child(2n){
  background-color: $red;
}


.preview-article-blog{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 4px;


}

.content-preview-img-blog{
  width: 30%;
  margin-right: -5%;
}

.preview-img-article-blog{
width: 70%;
  margin-left: 50px;
  border-radius: 4px;
}

.content-preview-article{
  width: 40%;
}

.content-article-action{
  width: 30%;
}

.title-preview-article{
  font-family: robot-cond;
  text-transform: uppercase;
  color: $black;
  font-size: 20px;
  padding-bottom: 7px;
}

.title-preview-article:hover{
  text-decoration: underline;
  color: $brown;
}

.content-post-pseudo-preview{
  font-family: robot-cond;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 50px;


}

.content-pseudo-article-preview{
  font-family: robot-cond;
  color: $brown;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 14px;
}

.content-post-preview-article{
  font-family: robot-cond;
  font-size: 17px;
  text-transform: uppercase;
  padding-bottom: 25px;

}

.content-prewiew-article{
  font-family: robslab-r;
  font-size: 16px;
  color: $black;
  text-transform: lowercase;
}

.content-prewiew-article:hover{
  text-decoration: underline;
  color: $brown;
}

.content-post-time-preview{
  font-family: robot-cond;
  font-size: 17px;
  text-transform: uppercase;


}

.content-time-preview{
  font-family: robslab-r;
  font-size: 16px;
  color: $black;
  text-transform: lowercase;

}

.content-article-action{


}
.update-article{
  margin-left: 70%;
  padding-right: 10%;
}
.delete_article{

}

.content-button-acces-article{
  margin-left: 60%;
  margin-top: 50%;
}

.content-button-acces-article:hover{

}
.button-prewiew-acces-blog{
  font-size: 18px;
  font-family: robot-cond;
  color: $black;
}

.button-prewiew-acces-blog:hover{
  text-decoration: underline;
  color: $brown;

}

.navigation {
  @include flex(center, center);
  li {
    padding: 5px 10px;
    a {
      text-decoration: none;
    }
  }
  .futur_page {
    font-weight: 700;
  }
  .active {
    color: #fff;
    background-color: $red;
    border-radius: 5px;
    cursor: default;
  }
  .disabled {
    cursor: not-allowed;
    opacity: 20%;
  }
}