
.main-page-contact{
  margin-top: 110px;
}
.bg-page-contact{
  background-image: url(../../img/dist/source/buffy-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 0;
  background-position:center;
}
.content-title-contact{
  background-color: $green-o;
  margin-top: 7%;
}
.title-form-contact{
  text-align: center;
  padding: 40px 0;
  font-size: 75px;
  letter-spacing: 5px;
  font-family: rbt-t;
  text-shadow: 3px 0px 10px $black;
}
.content-form-contact{
  width: 80%;
  margin: 4% auto auto;

}
.field-contact{
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
}
.content-label-form{
  padding-bottom: 3px;
}
.red{
  color: red;
}
.content-button-form-contact{
  display: flex;
  justify-content: center;
}
.form-label{
  padding: 5px 0;
}
.input-form,
.textarea-form{
  border: none;
  box-shadow: 4px 1px 10px 0 rgba(0, 0, 0, .15);
  border-radius: 8px;
  padding: 15px;
}
.button-form{

}

