//SCSS Contact form

.main-page-contact{

}
.bg-page-contact{
  background-image: url(../../img/dist/source/buffy-banner.png);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.content-title-contact{
  background-color: $green-o;
  margin-top: 7%;
}
.title-form-contact{
  text-align: center;
  padding: 40px 0;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  letter-spacing: 1px;
  font-family: robot-cond;
  text-shadow: 5px 1px 6px rgba(0,0,0,0.38);

}

.content-form-contact{
  width: 100%;
  margin: 4% auto auto;

}
.field-contact{
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
}

.red{
  color: red;
}
.content-button-form-contact{
  display: flex;
  justify-content: center;
}
.form-label{
  padding: 40px 0 10px 10px;
    font-family: rbt-r;
  font-size: 15px;

}
.input-form,
.textarea-form{
  border: none;
  box-shadow: 4px 1px 10px 0 rgba(0, 0, 0, .15);
  border-radius: 8px;
  padding: 15px;
}
.textarea-form{
  padding-bottom:50px ;

}
.content-button-form-contact{
margin: 75px 0;
}
.button-form{
border: none;
  color: $white;
  font-family: rbt-r;
  font-size: 20px;
  padding: 12px 50px;
  border-radius: 25px;
  cursor: pointer;
  transition-duration: .5s;
  background-color: $red;
}
.button-form:hover{
  background-color: $green;
}

//media query page contact

@media screen and (max-width: 1448px) {
  .bg-page-contact{
    min-height: calc(41vh - 92px);
  }
  .title-form-contact{
    font-size: 65px;
  }
}

@media screen and (max-width: 1302px) {
  .bg-page-contact{
    min-height: calc(39vh - 92px);
  }
  .field-contact{
    width: 45%;
  }
}

@media screen and (max-width: 1216px) {
  .bg-page-contact{
    min-height: calc(35vh - 92px);
  }
}

@media screen and (max-width: 991px) {
  .bg-page-contact{
    min-height: calc(31vh - 92px);
  }
  .title-form-contact{
    font-size: 55px;
  }
  .field-contact{
    width: 52%;
  }

}

@media screen and (max-width: 767px) {
  .bg-page-contact{
    min-height: calc(27vh - 92px);
  }
  .title-form-contact{
    font-size: 45px;
  }
  .field-contact{
    width: 58%;
  }
}

@media screen and (max-width: 657px) {

  .bg-page-contact {
    min-height: calc(23vh - 92px);
    margin-top: 11.5%;
  }

  .title-form-contact{
    font-size: 39px;
  }
}

@media screen and (max-width: 576px) {

  .bg-page-contact {
    min-height: calc(22vh - 92px);
    margin-top: 12.5%;
  }

  .title-form-contact{
    font-size: 31px;
  }
  .field-contact {
    width: 65%;
  }
}

@media screen and (max-width: 320px){
  .bg-page-contact {
    min-height: calc(17vh - 92px);
    margin-top: 22.5%;
  }

  .title-form-contact {
    font-size: 22px;
    padding: 20px 0;
  }

  .content-form-contact {
    width: 114%;
  }

  .field-contact{
    margin: 0 5%;
    width: 76%;
  }

  .content-button-form-contact {
    margin: 75px  33px 75px 0;
  }
}