
.main-page-contact{
  margin-top: 110px;
}
.bg-page-contact{
  background-image: url(../../img/dist/source/buffy-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 0;
  background-position:center;
  top: 0;
}
.content-title-contact{
  background-color: $green-o;
  margin-top: 7%;
}
.title-form-contact{
  text-align: center;
  padding: 40px 0;
  font-size: 75px;
  letter-spacing: 5px;
  font-family: rbt-t;

}
.content-form-contact{
  width: 80%;
  margin: 4% auto auto;

}
.field-contact{
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
}

.red{
  color: red;
}
.content-button-form-contact{
  display: flex;
  justify-content: center;
}
.form-label{
  padding: 40px 0 10px 10px;
    font-family: rbt-r;
  font-size: 15px;

}
.input-form,
.textarea-form{
  border: none;
  box-shadow: 4px 1px 10px 0 rgba(0, 0, 0, .15);
  border-radius: 8px;
  padding: 15px;
}
.textarea-form{
  padding-bottom:50px ;
  width: 130%;
}
.content-button-form-contact{
margin-top: 25px;
}
.button-form{
border: none;
  background-color: transparent;
  color: $white;
  font-family: rbt-r;
  position: relative;
  font-size: 20px;
  overflow: hidden;
  padding: 12px 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5),
  0px 0px 0px 0px rgba(39, 200, 255, .5);
  transition: all .2s;
}

.button-form::after{
  content: "";
  width: 400px;
  height: 400px;
  background: linear-gradient(225deg,
  #27d86c 0%, #26caf8 50%, #c625d0 100%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
transition: all .2s;
}
.button-form:hover::after {
  transform: rotate(150deg);
}
.button-form:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, .25),
  -10px 10px 25px 0px rgba(39, 200, 255, .25);
}
