
.nav-bar-fixed{
  position: fixed;
    width: 100%;
    top: 0;
    left: 0;
      z-index: 50;
}
#nav-bar{
  background-color: $brown;


  @include flex(space-between, center);
}

.logo-nav-bar{
  width: 5%;
  padding: 3px;
  padding-left: 20px;
  padding-top: 10px;

}


.nav-bar-list{
  display: flex;
  justify-content: flex-end;
  .disconnect &{
    width: calc(95% - 360px);
  }
  .connect &{
    width: calc(95% - 195px);

  }


}
.title-nav-bar2{
  padding-left: 50px;

}
.title-nav-bar{
  color: $white;
transition-duration: 1s;
  font-family: rbt-r;
}
.title-nav-bar:hover{
  text-decoration: underline;

}

.btn-nav{
  color: $white;
  padding: 7px 15px;
  border-radius: 25px;
  margin-right: 15px;
    text-transform: uppercase;
  cursor: pointer;

}
.btn-nav-bar1{
  background-color: $green;
  font-family: rbt-r;
  transition-duration: .4s;
}
.btn-nav-bar1:hover{
  background-color: $red;
}

.btn-nav-bar2{
  background-color: $red;
    font-family: rbt-r;
  transition-duration: .4s;
}
.btn-nav-bar2:hover{
  background-color: $green;
}
.nav-connect{
  align-items: center;
  display: flex;

}

.content-btn-nav{
 .disconnect & {
    width: 300px;
 }
  .connect & {
    width: 150px;
  }
}
.button-disconnect{
  background-color: $red;
  color: $white;
  padding: 10px 15px;
  border-radius: 25px;
transition-duration: .4s;
}
.button-disconnect:hover{
  background-color: $green;
}
//modal connect

.modal_connect {
	display: none;
	position: absolute;
	color: #000;
	background-color: #fff;
	padding: 20px;
	border: 2px solid #000;
	border-radius: 10px;
}