//SCSS Home page

//background the section 1
.bg-color-home-page{
  background-color:$bg-general;
}

.green{
  color: green;
}
.section-1-home{
  background-image: url(../../img/dist/source/buffy_cover2.jpg);
  background-size: 100%;
  min-height: calc(100vh - 52px);
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
}
.msg-connexion{

  font-size: 17px;
}

.connect_user_failure{
  background-color: $green;
  color: red;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 150;
  margin-top: .5%;
}

.connect_user_success{
  background-color: $green;
  color: green;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 150;
  margin-top: .5%;
}

.disconnect_user{
  background-color: $green;
  color: green;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 150;
}

//button section1

.content-btn-nav-sect-1{
  display: flex;
  justify-content: space-around;
  padding-top: 17%;

}
.btn-nav-sec-1{
  padding: 14px 31px;
  border-radius: 30px;
  color: $white;
  text-transform: uppercase;
  font-family: robot-cond;
  font-size: 20px;
  transition-duration: .4s;

}
.bgc-btn-sec1{
  background-color: $red;
}
.bgc-btn-sec2{
  background-color: $green;
  color: $black;
}
.bgc-btn-sec1:hover{
  background-color: $green;
  color: $black;
  text-decoration: none;
}
.bgc-btn-sec2:hover{
  background-color: $red;
  color: $white;
  text-decoration: none;

}

//KeyFrames and scc arrow scroll

@keyframes scroll_arrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}

.content-arrow{
  animation: scroll_arrow 2s ease-in 2s infinite alternate-reverse both;
  margin-top: 19.5%;
  a{
    display: flex;
    justify-content: center;
  }

}

#scroll_section_2{

}

.img-arrow{
  width: 3%;
}


// section 2 title and caroussel
.section-2-home{
  padding-top: 4%;
}
.content-title-home{
  background-color: $green-o;
}

.title-home{
  color: $black;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0px;
  font-size: 65px;
  letter-spacing: 1px;
  font-family: robot-cond;
  text-shadow: 5px 1px 6px rgba(0,0,0,0.38);
}
.spacing-home{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-image: url(../../img/dist/source/25yr.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
}
.content-text-personage{
  width: 100%;
  background-color: rgba(25,38,50,.70);
}
.title-personage{

  font-size: 70px;
  text-align: center;
  padding: 50px 0px;
  font-family: lato-b;
  color: $white;

}


//presentation of the site with access to registration

.content-presentation{

  margin-top: 100px;
  padding-top: 50px;

}

.content-text-presentation{
  display: flex;
  justify-content: space-around;
  background-color: $green-o;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.content-img-presentation{

}

.img-presentation{
  margin-left: 20%;
  margin-top: 15%;
  margin-bottom: 20%;

  padding-right:50px ;
  min-width: 289px;

}

.flex-column-present{

}

.content-title-presentation{
  margin-top: 45px;
  margin-bottom: 50px;
  text-align: center;
  font-family: lato-b;
  font-size: 35px;
  color: $black;
}

.paragraph-presentation{
  width: 40%;
  text-align: justify;
  margin: 0 auto;

}

.text-presentation{

  width: 100%;
  font-size: 15px;
  font-family: robslab-r;
  margin-bottom: 40px;


}

.content-button-presentation{
  display: flex;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 10%;
}

.button-presentation{
  color: $white;
  padding: 7px 15px;
  border-radius: 25px;
  margin-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  background-color: $red;
  font-family: robot-cond;
  transition-duration: 0.5s;

}
.button-presentation:hover{
  text-decoration: none;
  background-color: $green;
  color: $black;

}


.content-content-title{
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.content-title-carousel{
  width:  70%;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
}

.title-acces-carousel{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
  font-family: robot-cond;
}

//carousel


.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 1.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 5px;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.bg-carousel{
  background: linear-gradient($bg-general, $brown-o , $bg-general);
  padding: 150px 0;
  margin-top: 100px;
}

.card-title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  font-family: robot-cond;
}

.content-link-carousel{
  display: flex;
  justify-content: center;

}

.btn-carousel{
  background-color: $red;
  color: $white;
  padding: 10px 15px;
  border-radius: 25px;
  transition-duration: .4s;
  font-size: 17px;
  font-family: robot-cond;
}
.btn-carousel:hover{
  background-color: $green;
  color: $black ;

}.btn-carousel2{
   background-color: $green;
   color: $black;
   padding: 10px 15px;
   border-radius: 25px;
   transition-duration: .4s;
   font-size: 17px;
   font-family: robot-cond;

 }
.btn-carousel2:hover{

  background-color: $red;
  color: $white ;

}

.section-3-h{
  width: 80%;
  margin: auto;
}


.content-title-acces-blog{
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;

  margin: 100px auto;
}
.title-acces-blog{
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  padding: 30px 0px;

}
.content-img-acces-blog{
  background-color: $brown-pop;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.content-img-flex-blog{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-acces-blog{
  width: 50%;
  margin: 75px 0px;
  padding-left: 90px;


}
.content-button-acces-blog{
  margin: auto;
}
.button-acces-blog{
  padding: 15px 50px;
  border-radius: 30px;
  color: $black;
  transition-duration: .4s;
  background-color: $green;
  display: inline-block;
  font-size: 20px;
  font-family: robot-cond;

}
.button-acces-blog:hover{
  background-color: $red;
  text-decoration: none;
  color: $white;
}

//section 4

.section-4-home{
  @extend .section-3-h;
}


.content-title-acces-contact{
  @extend .content-title-acces-blog;
}
.title-acces-contact{
  font-size: 60px;
  text-align: center;
  padding: 30px 0px;
}
.content-contact{
  display: flex;
  justify-content: center;
}
.content-img-flex-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $green-o;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 75px;


}

.img-acces-contact{
  margin: auto;
  padding: 75px 0px;
  width: 50%;
  border-radius: 7px;

}
.content-button-acces-contact{
  margin: auto;
}
.button-acces-contact{
  padding: 15px 40px;
  font-size: 20px;
  font-family: robot-cond;
  border-radius: 30px;
  color: $white;
  transition-duration: .4s;
  background-color: $red;
  display: inline-block;
  text-transform: uppercase;

}
.button-acces-contact:hover{
  background-color: $green;
  text-decoration: none;
  color: $black;


}

//media query page home

@media screen and (max-width: 1399px) {
  .title-home {
    font-size: 55px;
  }
  .title-personage{
    font-size: 59px;
  }
  .connect_user_success{
    margin-top: 0.6%;
  }
  .connect_user_failure{
    margin-top: 0.6%;
  }
}

@media screen and (max-width: 1351px){
  .connect_user_success{
    margin-top: 2.5%;
  }
  .connect_user_failure{
    margin-top: 2.5%;
  }
}

@media screen and (max-width: 1302px) {
  .paragraph-presentation{
    width: 60%;
  }
}

@media screen and (max-width: 1299px) {
  .section-1-home{
    min-height: calc(93vh - 52px);
  }
  .title-home {
    font-size: 50px;
  }
  .title-personage{
    font-size: 52px;
  }
}

@media screen and (max-width: 1199px) {
  .section-1-home{
    min-height: calc(89vh - 52px);
  }
  .btn-nav-sec-1{
    font-size: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .section-1-home{
    min-height: calc(77vh - 52px);
  }
  .btn-nav-sec-1{
    font-size: 14px;
  }
  .title-home {
    font-size: 45px;
  }
  .title-personage{
    font-size: 45px;
    padding: 35px 0;
  }
  .content-img-flex-blog{
    flex-direction: column;
  }
  .img-acces-blog{
    padding-left: 0px;
    margin: 75px 0 50px 0;

  }
  .content-button-acces-blog{
    margin-bottom: 50px;
  }
  .content-img-flex-contact{
    flex-direction: column-reverse;
  }
  .content-button-acces-contact{
    margin-bottom: 50px;
  }
  .img-acces-contact{
    margin: 75px 0 50px 0;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .section-1-home{
    min-height: calc(74vh - 52px);
    margin-top: 8%;
  }
  .connect_user_success{
    margin-top: 1.2%;
  }
  .connect_user_failure{
    margin-top: 1.2%;
  }
  .btn-nav-sec-1{
    font-size: 13px;
  }
  .title-personage{
    font-size: 50px;
  }
  .content-text-presentation{
    flex-direction: column;
  }
  .content-img-presentation{
    display: flex;
    justify-content: center;
  }
  .img-presentation{
    margin-left: 0;
    margin-bottom: 0;
    padding-right: 0;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .section-1-home{
    min-height: calc(60vh - 52px);
  }
  .connect_user_success{
    margin-top: 2.1%;
  }
  .connect_user_failure{
    margin-top: 2.1%;
  }
  .btn-nav-sec-1{
    padding: 9px 21px;
    font-size: 13px;
  }
  .title-home {
    font-size: 40px;
  }

  .title-personage{
    font-size: 40px;
  }

}

@media screen and (max-width: 657px) {
  .section-1-home{
    min-height: calc(53vh - 52px);
  }
  .connect_user_success{
    margin-top: 4%;
  }
  .connect_user_failure{
    margin-top: 4%;
  }
  .title-home {
    font-size: 37px;
  }
  .img-acces-blog{
    width: 70%;
  }
  .img-acces-contact{
    width: 70%;
  }
  .content-text-presentation{
    padding: 0 10px;
  }
}

@media screen and (max-width: 657px){
  .section-1-home{
    margin-top: 9%;
  }
  .connect_user_success{
    margin-top: 3%;
  }
  .connect_user_failure{
    margin-top: 3%;
  }

}


@media screen and (max-width: 576px) {
  .section-1-home{
    min-height: calc(46vh - 52px);
    margin-top: 12%;
  }
  .connect_user_success{
    margin-top: 1%;
  }
  .connect_user_failure{
    margin-top: 1%;
  }
  .title-home {
    font-size: 35px;
  }
  .btn-nav-sec-1{
    padding: 8px 17px;
  }
  .spacing-home{
    margin-top: 47px;
  }
  .title-personage{
    font-size: 30px;
  }
}

@media screen and (max-width: 486px) {
  .section-1-home{
    min-height: calc(40vh - 52px);
    margin-top: 14%;
  }
  .connect_user_success{
    margin-top: 0%;
  }
  .connect_user_failure{
    margin-top: 0%;
  }
  .title-home {
    font-size: 29px;
    padding: 27px 0;
  }
  .btn-nav-sec-1{
    padding: 10px 20px;
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  .logo-nav-bar{
    width: 25%;
  }

  toggle-btn{
    top: 14px;
  }

  .active>div{
  right: 175px;
  }

  .section-1-home{
    margin-top: 22%;
    min-height: calc(33vh - 52px);
  }

  .title-personage {
    font-size: 20px;
  }

  .content-presentation {
    margin-top: 4px;
  }

  .img-presentation{
    min-width: 0;
    width: 80%;
  }

  .title-acces-carousel{
    font-size: 28px;
    padding: 14px;
  }

  .bg-carousel{
    padding: 0;
  }

  .title-acces-blog{
    font-size: 28px;
  }

  .title-acces-contact{
    font-size: 28px;
  }

  .img-acces-blog{
    width: 80%;
  }
  .button-acces-blog{
    padding: 11px 32px;
    font-size: 17px;
  }

  .img-acces-contact{
    width: 80%;
  }

  .button-acces-contact{
    padding: 11px 32px;
    font-size: 17px;
  }

  .text-footer {
    font-size: 20px;

  }
}

