// CSS code message return post PHP

.msg_error{
  background-color: #c6c198;
  color: red;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: absolute;
  bottom: -48px;
  width: 100%;
  z-index: 150;
}

.msg_success{
  background-color: #c6c198;
  color: green;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: absolute;
  bottom: -48px;
  width: 100%;
  z-index: 150;
}

// Media query

@media screen and (max-width: 1842px){
  .msg_error, .msg_success{
    bottom: -45px;
  }
}

@media screen and (max-width: 1660px){

  .msg_error, .msg_success{
    bottom: -40px;
  }
}
@media screen and (max-width: 1356px){

  .msg_error, .msg_success{
    bottom: -63px;
  }
}

@media screen and (max-width: 1170px){

  .msg_error, .msg_success{
    bottom: -58px;
  }
}

@media screen and (max-width: 1023px){

  .msg_error, .msg_success{
    bottom: -75px;
  }
}

@media screen and (max-width: 933px){

  .msg_error, .msg_success{
    bottom: -70px;
  }
}

@media screen and (max-width: 829px){

  .msg_error, .msg_success{
    bottom: -65px;
  }
}

@media screen and (max-width: 767px){

  .msg_error, .msg_success{
    bottom: -85px;
  }
}

@media screen and (max-width: 707px){

  .msg_error, .msg_success{
    bottom: -79px;
  }
}

@media screen and (max-width: 633px){

  .msg_error, .msg_success{
    bottom: -74px;
  }
}

@media screen and (max-width: 566px){

  .msg_error, .msg_success{
    bottom: -80px;
  }
}

@media screen and (max-width: 652px){

  .msg_error, .msg_success{
    bottom: -49px;
  }
}

@media screen and (max-width: 633px){

  .msg_error, .msg_success{
    bottom: -49px;
  }
}

@media screen and (max-width: 606px){

  .msg_error, .msg_success{
    bottom: -54px;
  }
}
@media screen and (max-width: 566px){

  .msg_error, .msg_success{
    bottom: -57px;
  }
}

@media screen and (max-width: 420px){

  .msg_error, .msg_success {
    bottom: -54px;
  }
}

@media screen and (max-width: 405px){

  .msg_error, .msg_success{
    bottom: -53px;
  }
}

@media screen and (max-width: 368px){

  .msg_error, .msg_success{
    bottom: -50px;
  }
}

@media screen and (max-width: 334px){

  .msg_error, .msg_success{
    bottom: -48px;
  }
}

@media screen and (max-width: 320px){

  .msg_error, .msg_success{
    bottom: -74px;
  }
}