//popup delete user dashboard

.pop_delete {
  font-family: robot-cond;
  display: none;
  position: fixed;
  padding: 30px;
  background-color: $brown-pop;
  border-radius: 7px;
  color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .delete_action {
    margin-top: 20px;
    @include flex(space-evenly, center);
  }
}

.warning-delete-user{
  font-family: robot-cond;
  text-align: center;
}

.button-delete-user-dashboard-yes{
  border: none;
  background-color: $red;
  color: $white;
  border-radius: 12px;
  padding: 7px 12px;
  font-family: robot-cond;
  transition-duration: .5s;
  margin-right: 15px;
  cursor: pointer;
}

.button-delete-user-dashboard-no{
  border: none;
  background-color: $green;
  color: $black;
  border-radius: 12px;
  padding: 7px 12px;
  font-family: robot-cond;
  transition-duration: .5s;
  margin-left: 15px;
  cursor: pointer;
}

.button-delete-user-dashboard-yes:hover{
  background-color: $green;
  color: $black;
  text-decoration: none;
}

.button-delete-user-dashboard-no:hover{
  background-color: $red;
  color: $white;
  text-decoration: none;
}


