.popupDeleteArticle {
  background: $brown-pop;
  width: 700px;
  padding: 5px;
  border-radius: 10px;
  position: fixed;
  right: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  transition:all 600ms ease-in-out;
  z-index: -50;
}

.toggle_modal_delete_article{
  display: block;
  z-index: 100;
}

.title-popup-delete-article{
  color: $white;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: robot-cond;
  padding-top: 15px;

}

.text-popup-delete-article{
  color: $white;
  text-align: center;
  font-family: robot-cond;
  padding-top: 15px;
  margin-bottom: 25px;
}

.content-button-popup-delete-article{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.button-delete-article{
  padding: 7px 23px;
  border-radius: 30px;
  color: $white;
  text-transform: uppercase;
  font-family: robot-cond;
  font-size: 15px;
  border: none;
  transition-duration: .4s;
}

.button-delete-article-1{
  background-color: $red;
  color: $white;

}

.button-delete-article-2{
  background-color: $green;
  color: $black;

}

.button-delete-article-1:hover{
  background-color: $green;
  color: $black;

}

.button-delete-article-2:hover{
  background-color: $red;
  color: $white;
}

@media screen and (max-width: 1023px) {
  .popupDeleteArticle{
    width: 500px;
  }

}

@media screen and (max-width: 635px) {

  .popupDeleteArticle{
    width: 400px;
    padding: 11px 15px;
  }

  .title-popup-delete-article{
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 460px) {

  .title-popup-delete-article{
    font-size: 17px;
  }

  .text-popup-delete-article{
    font-size: 14px;
  }

  .popupDeleteArticle{
    width: 350px;
  }

}


@media screen and (max-width: 460px) {
  .popupDeleteArticle{
    width: 300px;
  }

}

@media screen and (max-width: 340px) {
  .popupDeleteArticle{
    width: 275px;
  }

}



