//SCSS Side bar

.content {

  transition: 1s;
}
#side-bar {
  display: none;
  position: absolute;
  width: 230px;
  height: 100%;
  background: $brown-pop;
  top: 0;
  right: -230px;
  transition: 0.5s ease-out;
  z-index: 1000000000000;
  position: fixed;
}

.toggle-btn {
  position: absolute;
  top: 26px;
  right: 270px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: $white;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}

#side-bar.active {
  right: 0;

}

.active ~ .content {
  opacity: 0.3;
}

.active span {
  position: absolute;
}

.active span:nth-child(1) {
  transform: rotate(45deg);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.content-side-bar-home {
  margin-top: 39%;
  margin-bottom: 35px;
  margin-left: 15px;
}

.content-button-side-bar{
  margin-bottom: 35px;
  margin-left: 15px;
}

.home-text-side-bar{

  font-size: 26px;
  color: $white;
  font-family: robot-cond;
  text-transform: uppercase;
}

.home-text-side-bar:hover{
  color: $white;
  text-decoration: underline;
}

@media screen and (max-width: 1023px)
{
  #side-bar {
    display: block;
  }
}


@media screen and (max-width: 915px){

  .toggle-btn {
    top: 22px;
  }

  .toggle-btn span{
    height: 7px;
    margin-top: 7px;
  }
}





@media screen and (max-width: 862px) {
  .toggle-btn{
    top: 23px;
  }
  .toggle-btn span {
    height: 8px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 827px){

  .toggle-btn {
    top: 17px;
  }
}

@media screen and (max-width: 767px) {
  .toggle-btn span {
    height: 7px;
    margin-top: 7px;
  }
}

@media screen and (max-width: 576px){
  .toggle-btn {
    top: 14px;
  }
}


@media screen and (max-width: 486px) {
  .toggle-btn{
    top: 13px;
  }
}

@media screen and (max-width: 455px) {
  .toggle-btn{
    top: 10px;
  }
}

@media screen and (max-width: 413px) {
  .toggle-btn{
    top: 7px;
    right: 255px;
  }
  .toggle-btn span{
    height: 5px;
    margin-top: 8px;
    width: 49px;
  }
}

@media screen and (max-width: 391px){

  .toggle-btn{
    top: 7px;
  }

  .toggle-btn span{
    height: 5px;
    margin-top: 7px;
    width: 49px;
  }
}

@media screen and (max-width: 367px){
  .toggle-btn{
    top: 4px;
  }
}

@media screen and (max-width: 320px) {
  .toggle-btn{
    top: 14px;
  }

  .active>div{
    right: 175px;
  }

  .toggle-btn span {
    transition: inherit;
  }
}