// SCSS Subscribe

.main_subscribe{

}
.bg-img-subscribe{
  background-image: url(../../img/dist/source/background_subscribe2.jpg);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 76.14px;
}

.content_title_subscribe{
  background-color: $green-o;
  margin-top: 7%;
}
.title-subscribe{

  @extend .title-blog;
}
.file_form{
  width: 80%;
  margin: 4% auto auto;
}
.field-subscribe{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.content-button-form-contact{
  display: flex;
  justify-content: center;
}
.label-subscribe{
  padding: 40px 0 10px 10px;
  font-family: rbt-r;
  font-size: 15px;
}
.input-form-subscribe{
  border: none;
  box-shadow: 4px 1px 10px 0 rgba(0, 0, 0, .15);
  border-radius: 8px;
  padding: 15px;
}
.input-margin{
  margin-top: 8px;
}
.text-mdp{
  margin-top: 12px;
  margin-bottom: 25px;
  font-family: rbt-i;
  font-style: italic;
  font-size: 13px;
  text-decoration: underline;

}
.label-picture-subscribe{
  font-family: rbt-i;
  font-size: 13px;
  text-decoration: underline;
  margin-bottom: 12px;
  margin-top: 7px;

}
.flex-label-subscribe{
  display: flex;
  flex-direction: column-reverse;
}

.check-box{
  width:17px;
  height:17px;
}

.label-checkbox{
  margin-left: 7px;
}

.content-checkbox{
  margin-left: 25%;
  margin-top: 25px;
  font-family: robot-cond;
  display: flex;
  align-items: center;

}
.button-submit-subscribe{
  background-color: $red;
  color: white;
  border: none;
  font-family: rbt-r;
  padding: 10px 24px;
  border-radius: 25px;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 20px;
}
.button-submit-subscribe:hover{
  transition-duration: .3s;
  background-color: $green;
  color: $black;
}


//Media query

@media screen and (max-width: 1448px){
  .title-subscribe {
    font-size: 55px;
  }

  .field-subscribe{
    width: 69%;
  }
}

@media screen and (max-width: 1199px){
  .bg-img-subscribe{
    min-height: calc(43vh - 92px);
  }
}

@media screen and (max-width: 1023px){

  .bg-img-subscribe {
    min-height: calc(36vh - 92px);
    margin-top: 94.14px;
  }

  .title-subscribe {
    font-size: 50px;
  }
}

@media screen and (max-width: 991px){

  .bg-img-subscribe {
    margin-top: 87.14px;
  }
}

@media screen and (max-width: 767px){

  .bg-img-subscribe {
    min-height: calc(32vh - 92px);
    margin-top: 90.14px;
  }
}

@media screen and (max-width: 657px){

  .bg-img-subscribe {
    min-height: calc(28vh - 92px);
    margin-top: 77.14px;
  }

  .title-subscribe {
    font-size: 35px;
  }

  .file_form {
    width: 90%;
  }
}

@media screen and (max-width: 576px){

  .bg-img-subscribe{
    margin-top: 69.14px;
  }

  .title-subscribe {
    font-size: 30px;
    padding: 25px 0;
  }

  .file_form {
    width: 95%;
  }
}


@media screen and (max-width: 486px){

  .bg-img-subscribe {
    min-height: calc(24vh - 92px)
  }

  .file_form {
    width: 100%;
  }
}

@media screen and (max-width: 320px){

  .bg-img-subscribe {
    min-height: calc(20vh - 92px);
    margin-top: 72.14px;
  }

  .title-subscribe {
    font-size: 18.5px;
    padding: 22px 0;
  }

  .field-subscribe {
    width: 83%;
  }

  .content-button-form-contact {
    margin: 75px 0!important;
  }

  .button-submit-subscribe{
    margin: 0;
  }
}