#add_comment_success {
  background-color: #c6c198;
  color: green;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 150;
}

#add_comment_error {
  background-color: #c6c198;
  color: $red;
  padding: 10px;
  font-family: robot-cond;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 150;
}