
// !!!WARNING!!! the CSS3 class of the comment update page has been reused. The css of this page is that of the ADD comment page except those present in the update_comment file


.bg-img-update-comment{
  background-image: url(../../img/dist/source/bg-img-update-comment.png);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 4.5%;
}




//Media query CSS page update comment




@media screen and (max-width: 1416px) {

}

@media screen and (max-width: 1356px) {

}

@media screen and (max-width: 1302px) {

}

@media screen and (max-width: 1168px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 486px) {

}