.content_title_update_article{
  background-color: $green-o;
  margin-top: 4%;
}

.title_update_article{
  color: $black;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0px;
  font-size: 65px;
  letter-spacing: 1px;
  font-family: robot-cond;
  text-shadow: 5px 1px 6px rgba(0,0,0,0.38);
}

