//SCSS User update

.main-user-update{
  background-color: $bg-general;
}

.bg-img-user-update{
  background-image: url(../../img/dist/source/bg-img-user-update7.png);
  background-size: 100%;
  min-height: calc(50vh - 92px);
  max-height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.content-title-user-update{
  background-color: $green-o;
}

.title-form-update{
  text-align: center;
  padding: 40px 0;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 1px;
  font-family: robot-cond;
  text-shadow: 5px 1px 6px rgba(0,0,0,0.38);
}

.file_form_user_update{
  width: 80%;
  margin: 4% auto auto;
  margin-bottom: 50px;
}

.flex-form-user-update{
  display: flex;
  flex-direction: column;
  width: 44%;
  margin: 0 auto;
}

.input-user-update{
  border: none;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 4px 1px 10px 0 rgba(0, 0, 0, .15);
}

.label-user-update{
  padding: 40px 0 10px 10px;
  font-family: robot-cond;
  font-size: 15px;
}

.input-u-u{
  margin-bottom: 10px;
}

.label-update-picture{
  margin-top: 4px;
  margin-bottom: 25px;
  font-family: rbt-i;
  font-style: italic;
  font-size: 13px;
  text-decoration: underline;
  display: block;
}

.input-choice-user-update{
 margin-top: 15px;
}

.current_img{
  width: 35%;
}

.current-img-user-update{
 border-radius: 15px;
}

.text-mdp-user-update{
  margin-top: 12px;
  margin-bottom: 25px;
  font-family: rbt-i;
  font-style: italic;
  font-size: 13px;
  text-decoration: underline;
}

.content-change-img-user-update{
  display: flex;
  justify-content: center;
align-items: center;
  flex-direction: column;
  margin: auto;
}

.content-button-submit{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.button-submit-user_update{
  background-color: $red;
  color: $white;
  border: none;
  font-family: rbt-r;
  padding: 12px 24px;
  border-radius: 25px;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 15px;
  transition-duration: .3s;
  font-family: robot-cond;
}

.button-submit-user_update:hover {

  background-color: $green;
  color: $black;
}

@media screen and (max-width: 1448px){

  .bg-img-user-update{
    min-height: calc(41vh - 92px);
  }
  .title-form-update{
    font-size: 44px;
  }
  .flex-form-user-update{
    width: 53%;
  }
}

@media screen and (max-width: 1302px){

  .bg-img-user-update{
    min-height: calc(39vh - 92px);
  }
  .title-form-update{
    font-size: 38px;
  }
}

@media screen and (max-width: 1216px){

  .bg-img-user-update{
    min-height: calc(37vh - 92px);
  }

  .title-form-update{
    font-size: 35px;
  }
  .input-choice-user-update{
    margin-top: 9px;
  }

}

@media screen and (max-width: 991px){

  .bg-img-user-update{
    min-height: calc(27vh - 92px);
  }

  .title-form-update{
    font-size: 28px;
  }

  .current_img {
    width: 50%;
  }
}

@media screen and (max-width: 767px){

  .bg-img-user-update{
    min-height: calc(29vh - 92px);
    margin-top: 10%;
  }

  .title-form-update{
    font-size: 25px;
  }

  .flex-form-user-update{
    width: 64%;
  }

  .current_img {
    width: 60%;
  }
}

@media screen and (max-width: 576px){

  .bg-img-user-update{
    min-height: calc(24vh - 92px);
  }

  .title-form-update{
    font-size: 20px;
  }

  .flex-form-user-update{
    width: 67%;
  }

  .text-mdp-user-update{
    margin-left: 13px;
  }
}

@media screen and (max-width: 486px){
  .bg-img-user-update{
    min-height: calc(22vh - 92px);
  }

  .title-form-update{
    font-size: 15px;
    padding: 23px 0;
  }

  .flex-form-user-update{
    width: 72%;
  }

  .current_img{
    width: 78%;
  }
}

@media screen and (max-width: 320px){
  .flex-form-user-update {
    width: 97%;
  }
  .bg-img-user-update{
    min-height: calc(18vh - 92px);
    margin-top: 22%;
  }
}